

body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 150px;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #45a049;
}
.note {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}
@media screen and (max-width: 480px) {
    body {
        font-family: Arial, sans-serif;
        max-width: 600px;
        margin: 0 auto;
        padding: 15px;
    }
    
    button {
        padding: 10px 15px;
        background-color: #760909;
        color: white;
        cursor: pointer;
        font-size: 16px;
    }
    button:hover {
        background-color: #310eae;
    }
    .note {
        background-color: #f9f9f9;
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    
}